#[mysql]
#user=perconauser
#password=perconapass

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0
skip-name-resolve
character-set-server = utf8
max_connections = 1000

# replication
server-id = {{ SERVER_ID }}
log-bin = /data/mysql/{{ LOG_BIN }}
binlog_format = mixed
#expire_logs_days = 30

# slow log
slow_query_log = ON
long_query_time = 2
slow_query_log_file = /var/log/mysql/mysql-slow.log

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
